:root {
  --main-font: "Roboto", sans-serif;
  --accent-font: "Raleway", sans-serif;
  --main-color: #212121;
  --blue-color: #2196f3;
  --text-color: #757575;
  --white-color: #ffffff;
  --main-background-color: #ffffff;
  --dark-background-color: #2f303a;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--main-color);
  background-color: var(--main-background-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
  display: block;
}

button {
  border: none;
  text-decoration: none;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.hidden {
  overflow: hidden;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.logo,
.logo-1,
.logo-2 {
  font-family: var(--accent-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--blue-color);
}

.logo-1 {
  color: var(--main-color);
}

.logo-2 {
  color: var(--white-color);
}

/* header */

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .nav {
  color: var(--main-color);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  margin-right: 93px;
}

.nav-links {
  display: flex;
}

.nav-link:not(:last-child) {
  margin-right: 50px;
}

.header .contact {
  color: var(--text-color);
  display: flex;
  margin-left: auto;
}

.contact-link:not(:last-child) {
  margin-right: 50px;
}

.nav .nav-link:hover,
.nav .nav-link:focus,
.nav .nav-link:active {
  color: var(--blue-color);
}

.contact .contact-link:hover,
.contact .contact-link:focus,
.contact .contact-link:active {
  color: var(--blue-color);
}

/* hero */

.hero {
  background-color: var(--dark-background-color);
}

.hero .container {
  padding: 195px 285px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 30px;
}

.hero-button {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--blue-color);
  padding: 10px 32px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  min-width: 200px;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--main-color);
}
/* advantages */

.description {
  padding-top: 89px;
  padding-bottom: 94px;
}

.advant {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.descr > li:not(:last-child) {
  margin-right: 30px;
}

.advantages {
  width: 270px;
  display: flex;
  flex-direction: column;
}

.descr {
  display: flex;
  flex-flow: row wrap;
}

.text {
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* information */

.info {
  padding-bottom: 94px;
}

.info .img {
  display: flex;
  flex-flow: row wrap;
}

.info .info-img:not(:last-child) {
  margin-right: 30px;
}

/* team */

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.workers {
  display: flex;
  flex-direction: row;
}

.workers > li {
  background-color: #ffffff;
  width: 270px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}

.workers > li:not(:last-child) {
  margin-right: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
}

.job {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.workers .job {
  margin-bottom: 30px;
}

.workers .name {
  margin-top: 30px;
  margin-bottom: 10px;
}

/* footer */

.footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address ul {
  margin-top: 20px;
}

.address ul > li:not(:last-child) {
  margin-bottom: 9px;
}

.direction {
  color: var(--white-color);
}

.address .contact-link:hover,
.address .contact-link:focus,
.address .contact-link:active {
  color: var(--blue-color);
}

/* portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.p-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
}

.buttons .p-button:focus,
.buttons .p-button:hover,
.buttons .p-button:active {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.buttons {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-bottom: 34px;
}

.buttons > li:not(:last-child) {
  margin-right: 8px;
}

.p-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin: 20px 24px 4px;
}

.p-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0 24px 20px;
}

.projects {
  display: flex;
  flex-flow: row wrap;
}

.projects > li {
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  width: 370px;
}

.projects > li:nth-child(3n) {
  margin-right: 0;
}

.projects > li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
